@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body{
    background: #f1f1f1;;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0%;
}

main{
    min-width: 400px;
    max-width: 1280px;
    margin-bottom: auto;
    position: relative;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content{
    
    justify-content: space-between;
}
.cartecontent{
 display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0px 15px 15px;

}
.header {
    display: block;
    text-align: center; 
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    padding: 1rem;
    position: relative;
    background-color: #fff;

        .logo{
         font-family: "Shrikhand", "cursive"; 
         text-align: center;
         padding-top: 10px;
         padding-bottom: 10px;
         width: 100%;
        }
        .img{
            width: 100%;
        
        }
        
}
 
.search {
    display: flex;
    justify-content: center;
    background-color: #eaeaea;
    align-items: center;
    font-size: 1.2rem;
    padding: 20px 0 20px 0;
    box-shadow: inset 0px 10px 5px -5px #d4d4d4;
    position: relative; 
}
    .text {
      font-weight: 700;
    
    }
    .search .icon {
     margin-right: 10px; 
    }
   .reserve {
    text-align:center;
    background-color: #f7f7f7 ;
    border-radius: 30px;
    padding: 10px 20px 40px;
    text-decoration: none;

    .title{
    margin: 0;
}
    menu{
    font-weight: 300;
    margin: 1.5rem 0;
}
    .btn{
        border-radius: 100px;
        transition: 20s;
        padding: 15px 20px;
        font-weight: 500;
        font-size: 1.1rem;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: #686868;
        background-image: linear-gradient(
        0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
        cursor: pointer;
        box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
        }
   }
   .restaurant{
    background-color: #f6f6f6;
    padding: 2rem 1rem;
    .container{
     flex-direction: column;
    }

        .titre{
            display: block;
            font-size: 1.5em;;
            font-weight: bold;
        }

        menu{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 2rem;
        }
   }
   .carte{
       display: block;
       border-radius: 1rem;
       color: inherit;
       background: #fff;
       margin-bottom: 30px;
       text-decoration: none;
       position: relative;
       

       img{
        height: 12rem;
        width: 100%;
        max-width: 100%;
        max-height: 32rem;
        border: 0 solid transparent;
        border-radius:  20px 20px 0px 0px;
        box-shadow: none;
        object-fit: cover;
    }
        .badge{
          background-color: #99E2D0;
          color: #1b6150;
          padding: 5px 10px 5px 10px;
          border-radius: 3px;
          position: absolute;
          right: 0px;
          border: 1px solid #99E2D0;
          top: 8px;


    }
        .titre{
            margin: 0;
            margin-bottom: 0.25rem;
            padding: 10px;
        }
        .soustitre{
            margin: 0;
        }
   }
   .fonctionnement {
    width: 95%;
    margin: auto;
    padding: 2rem 1rem;
    background: #fff;

    .block {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-shadow:5px 5px 10px #d4d4d4;
    border-radius: 20px;
    padding-left: 22px;
    position: relative;
    margin-bottom: 20px;
    background: #f7f7f7;

    i{
        margin-left: 5px;
        margin-right: 15px;
    }
}
    .menus{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    padding-left: 0px;

    }
    .phone{
        background-color: #9356DC;
        border-radius: 100px;
        border: 1px solid #9356DC;
        padding: 0 5px 0 5px;
        color: white;
        left: -4px;
        position: absolute;
    }

    
}
.heart{
    background-color: #f6f6f6;
    position: absolute;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    mix-blend-mode: lighten;
    transition-duration: .25s;

    i.fa{
        background-image: linear-gradient(
        0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
        cursor: pointer;
    }
}

footer{
    background-color: #353535;
    padding-bottom: 20px;
    color: white;
    
    .logo{
    display: flex;
    justify-content: center;
    }

    .list{
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
    }

}

/*menu sup*/
.arrow{
    position: absolute;
    top: 40%;
}

.palette{
    max-width: 100%;
}

.plat-list{
    display: flex;
    flex-direction: column;
    margin-left: -20px;
    margin-right: 20px;
    padding-bottom: 100px;
    
    

    .type{
        display: block;
        flex: 3;
        min-height: 150px;
        overflow: hidden;

        h2{
            display: block;
            font-weight: 100;
            font-size: 16px;
            margin: 25px 20px;
            width: 35px;
            height: 2px;
            color: #2c2c2c;
            bottom: -4px;
          

            h3 {
                font-size: 18px;
                font-weight: 600;
                color: black;
                margin: 4px;
                }

                p {
                    font-size: 10px;
                    font-weight: 100;
                    color: #2c2c2c;
                    margin: 2px -50px 10px 0px;
                    }

            .title{
                text-align: left;
                font-family: "Shrikhand";
                font-size: 25px;
                font-weight: 500;
                margin: 15px;
                color: black;
                
            }
            
        }
    }

    .load{
    animation:1.5s linear;
        .spinner{
            width: 40px;
            height: 40px;
            margin: 30px;
            position: absolute;
        }
    }
    .assiette{
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        box-shadow: 2px 2px 5px 2px #dddddd;
        background-color: white;
        margin: 15px;
        border-radius: 15px;
        padding: 0px 20px 0px 10px;
        overflow: hidden;
        animation: box-appear 2.5;
        align-items: center;

    .description{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        width: 100%;
        font-weight: bold;
    
    .price{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        font-weight: bold;
        padding-left: 5px;
    }
        }
}

}
.main-section{
    background-color: #f6f6f6;
    border-radius: 50px 50px 0px 0px;
    margin-top: -90px;
}
span.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 25px;

.appear{
    display: none;
    background-color: #99E2D0;

}
    }

.fas.fa-check {
    background-color: white;
    margin: 35%;
    border-radius: 50%;
    color: #99e2d0;
    padding: 3px;
}

.order-menu {
    display: flex;
    text-decoration: none;
    justify-content: center;
    padding: 5px 0;

    .order{
        border-radius: 100px;
        background-color: #686868;
        color: #fff;
        background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
        box-shadow:5px 5px 10px;
        cursor: pointer;
        transition: transform ease-in-out .25s;
        border: 0;
    }
    }