@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body{
    background: #f1f1f1;;
    font-family:Arial, Helvetica, sans-serif;
    width: 100%;
    margin: 0%;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
}
.container1{
    display: flex;
    width: 5rem;
    justify-content: space-between;
}
.header {
    text-align: center; 
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    padding: 1rem;
    position: relative;

        .logo{
            font-family: "Shrikhand", "cursive";
            margin: 0;  
        }
}
 
.search {
    display: flex;
    justify-content: center;
    background-color: #f3f3f3;
    font-size: 1.2rem;
    padding: 1.25rem 1rem;
    position: relative; 
}
    .text {
      font-weight: 700; 
    }
    .search .icon {
     margin-right: 10px; 
    }
   .reserve {
    text-align:center;
    background-color: #fafafa;

    .title{
    margin: 0;
}
    menu{
    font-weight: 200;
    margin: 1.5rem 0;
}
    .btn{
        border-radius: 100px;
        font-weight: 400;
        font-size: 1.1rem;
        color: #fff;
        background-color: #686868;
        background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
        cursor: pointer;
        box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25); 
        transition: 20s;
        padding: 50rem 1.5rem;
    }
   }
   .restaurant{
    background-color: #f6f6f6;
    padding: 2rem 1rem;

        .titre{
            display: block;
            font-size: 1.5em;;
            font-weight: bold;
        }

        menu{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            column-gap: 2rem;
        }
   }
   .carte{
       display: block;
       border-radius: 1rem;
       color: inherit;
       position:relative;

       img{
        height: 10rem;
        width: 100%;
        border: 0 solid transparent;
        border-radius: 1rem 1rem 0 0;
        box-shadow: none;
        object-fit: cover;
    }
        .badge{
          background-color: #99E2D0;
          color: #1b6150;
          padding: .5rem;
          border-radius: .125rem;
          position: absolute;
         right: .75rem;
        }
        .titre{
            margin: 0;
            margin-bottom: 0.25rem;
        }
        .soustitre{
            margin: 0;
        }
   }
   .fonctionnement {
    width: 95%;
    margin: auto;
    padding: 2rem 1rem;

    .block.fonctionnement{
    display: flex;
    justify-content: space-between;
}
    .menus{
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }
    .phone{
        background-color: #9356DC;
        border-radius: 100px;
        border: 1px solid #9356DC;
        padding: 0 5px 0 5px;
        color: white;
        left: 15px;

    }
    .clair{
        display: flex;
        align-items: center;
        background-color: #f6f6f6;
        border-radius: 15px;
        border: 1px solid #f6f6f6;
        margin-left: 5px;
        box-shadow: 5px 5px 10px #d4d4d4;
        position: relative;
    }
}

footer{
    background-color: #353535;
    padding-bottom: 20px;
    color: white;
    
    .logo{
    display: flex;
    justify-content: center;
    }

    .list{
        display: flex;
        justify-content: space-evenly;
        padding-left: 0;
    }

}