@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
body {
  background: #f1f1f1;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  margin: 0%;
}

main {
  max-width: 400px;
  margin-bottom: auto;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.content {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}

.header {
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  padding: 1rem;
  position: relative;
}
.header .logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
}

.search {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  font-size: 1.2rem;
  padding: 1.25rem 1rem;
  position: relative;
}

.text {
  font-weight: 500;
}

.search .icon {
  margin-right: 10px;
}

.reserve {
  text-align: center;
  background-color: #fafafa;
  border-radius: 30px;
  padding: 10px 20px;
  text-decoration: none;
}
.reserve .title {
  font-weight: 900;
  font-size: 2em;
}
.reserve menu {
  font-weight: 200;
  margin: 1.5rem 0;
}
.reserve .btn {
  border-radius: 100px;
  transition: 20s;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}

.restaurant {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}
.restaurant .titre {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
}
.restaurant menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 2rem;
}

.carte {
  display: block;
  border-radius: 1rem;
  color: inherit;
  background: #fff;
  margin-bottom: 30px;
}
.carte img {
  height: 10rem;
  width: 100%;
  max-width: 100%;
  max-height: 32rem;
  border: 0 solid transparent;
  border-radius: 20px 20px 0px 0px;
  box-shadow: none;
  object-fit: cover;
}
.carte .badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  right: 0.75rem;
}
.carte .titre {
  margin: 0;
  margin-bottom: 0.25rem;
}
.carte .soustitre {
  margin: 0;
}

.fonctionnement {
  width: 95%;
  margin: auto;
  padding: 2rem 1rem;
}
.fonctionnement .block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 12px #999;
  border-radius: 45px;
  padding-left: 22px;
  position: relative;
  background: #f1f1f1;
  margin-bottom: 20px;
}
.fonctionnement .menus {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  padding-left: 0px;
}
.fonctionnement .phone {
  background-color: #9356DC;
  border-radius: 100px;
  border: 1px solid #9356DC;
  padding: 0 5px 0 5px;
  color: white;
  left: 15px;
}

span.number {
  color: #fff;
  background: #db7dff;
  /* padding: 8px 12px; */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
}

h2 {
  display: block;
  font-size: 2em;
  margin-left: 15px;
  padding: 30px 0 0 10px;
}

footer {
  background-color: #353535;
  padding-bottom: 20px;
  color: white;
}
footer .logo {
  display: flex;
  justify-content: center;
}
footer .list {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
}

/*# sourceMappingURL=style.css.map */
